header{
 
 font-size: 24px:;
 font-family: 'Montserrat', sans-serif;
 text-align: center;
}

main{
 
 margin-left: 120px



}


.box{

 display: block;
 float: left;
 width: 24%
 padding:10px;
 padding-left: 12px;

}


img{
  
width: 100%:;
border-radius: 6px;
}

img:hover{
 
 transform: scale(2,2);
 transition: .3s transform;




}